<strong>Olá</strong>
<div style="font-family: Arial, Helvetica, sans-serif; font-size: 16px; line-height: 1.6; color:brown">
  <p> O Evento {{evento}} foi cancelado </p>
</div>
<p>

  <strong>Data e Hora:</strong> {{date}}</p><br />
<br />

<small>

</small>
</p>
