<strong>Olá {{provider}}</strong>
<p> Houve uma nova inscrição para o meetApp:</p>
<p>
  <strong>Usuário:</strong> {{client}}</p><br />
<strong>Data e Hora:</strong> {{date}}</p><br />
<br />

<small>

</small>
</p>
