<strong>Ol치 {{provider}}</strong>
<p> Houve um cancelamento de hor치rio, confira os detalhes abaixo:</p>
<p>
  <strong>Cliente:</strong> {{client}}</p><br />
<strong>Data e Hora:</strong> {{date}}</p><br />
<br />

<small>
  O Hor치rio est치 novamente disponivel
</small>
</p>
